<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320365913986-l22ben8e9pfvc4cdo3b0cb4s4oo2h734.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320365913986-l22ben8e9pfvc4cdo3b0cb4s4oo2h734</string>
	<key>API_KEY</key>
	<string>AIzaSyA-LZlsbDQB4SOpp-fakBDLTRGcemoWA-s</string>
	<key>GCM_SENDER_ID</key>
	<string>320365913986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jollibee.loyalty.staging</string>
	<key>PROJECT_ID</key>
	<string>delivery-jollibee</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-jollibee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320365913986:ios:687cf862f61b365d62919b</string>
	<key>DATABASE_URL</key>
	<string>https://delivery-jollibee.firebaseio.com</string>
</dict>
</plist>